@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:powderblue;"> </body>
    <div class="jumbotron">
        <h1>Korba na USB </h1>  
        <p>

        </p>
        <p>

        </p>
        <p class="lead">No więc jest to pierwsza stronka, która powstała na życzenie nikogo z okazji żadnej </p>
        <p> Ogólnie to nawet ciężko będzie to nazwać stronką internetową, ale zawsze to coś na początek</p>
        <p><a href="https://www.youtube.com/watch?v=4cL56PGg_5Y&ab_channel=matesz123" class="btn btn-primary btn-lg">Naciśnij, Zaczerpnięty pomysł z tu oo &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Ciekawe miejscówy do zwiedzenia</h2>
            <p>
                Tutaj będzie można powpisywać ciekawe miejsca aby żeby wyrwać sie z naszej cudownej mieściny i 
                zaczerpnąć świeżego powietrza gdzieś tam wśród zwierzątek, dziczy, ogólnie naturze na łoni.
                Pomysł zapodał mi kolega Łukasz K. którego nie moge wymienić z nazwiska bo RODO i powiedział że w takim razie zaprasza do Rołana.
                Także jak widać żart goni żart...
            </p>
            
        </div>
        <div class="col-md-4">
            <h2>Miejsca na rypke ?</h2>
            <p>No tutaj może by warto było jakieś miejscóweczki wędkarskie powmontowywać. Może jakieś fotki i komenty do tego.
            Warto pomyśleć co tu dalej wykombinować, ale sie cuś wymyśli sie.</p>
            
        </div>
        <div class="col-md-4">
            <h2>Blog albo coś</h2>
            <p>Może jakiś blog, może jakieś komenty, może odnośniki do stron z miejscami pracy dla co niektórych :D </p>
            
        </div>
    </div>
